@mixin page-spacing($Y_space: 0, $X_Space: 5%) {
    padding: $Y_space $X_Space;
}

@mixin d-flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin tablet {
    @media only screen and ( max-width: 920.98px ) {
        @content;
    }
}
@mixin semi-tablet {
    @media only screen and ( max-width: 640.98px ) {
        @content;
    }
}

