@mixin page-spacing($Y_space: 0, $X_Space: 5% ) {
    padding: $Y_space $X_Space;
}

@mixin d-flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
